h1{
  font-family: 'Hangyaboly';
  text-align: center;
  font-size: 80px;
  color: #f8f1e1;
}

h2{
  font-family: 'Hangyaboly';
  text-align: center;
  font-size: 60px;
}

@media (max-width: 768px) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 30px !important;
  }
}