.footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
}
.copyright{
    cursor: pointer;
}
.footer-links{
    cursor: pointer;
    display: flex;
    gap: 30px;
}