@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  background-color: #8d0449;
}

.App {
  text-align: center;
}

.App-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav a {
  margin-top: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  font-family: 'Poppins';
}